html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('backgrounds/fondo-de-cielo.jpg');
    background-size: cover;
}
.lienzo {
    position: absolute;
}
.score {
    display: inline-block;
    position: relative;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    padding-left: 30px;
    opacity: .3;
    transition: all .7s ease-in-out;
}
.zoom {
    scale: 1.2;
    opacity: .8;
    text-shadow: 1px 1px 18px white, 1px -1px 18px white, 
                -1px 1px 18px white,-1px -1px 18px white;
}
.triple {
    float: right;
    font-size: 60px;
    padding: 0 8px;
    margin-top: -5px;
    cursor: pointer;
 }
 .configuration {
     float: right;
     opacity: .4;
     background: silver;
     max-width: 60px;
     max-height: 60px;
     transition: all .5s ease-in-out;
     overflow: hidden;
 }
 .configuration:hover {
     opacity: .9;
 }
 .configurationHover {
     max-width: 50vw;
     max-height: 100vh;
     opacity: .9;
     /* overflow: auto; */
     /* overflow: visible; */
     overflow-y: scroll;
     height: auto;
     width: auto;
 }
 .naves {
     clear: both;
 }
 .naves div {
     margin-bottom: 15px;
     height: 100%;
     font-weight: bold;
     clear: both;
 }
 .naves canvas {
     float: left;
 }
 .naves span {
     display: grid;
     margin: 0px 20px 20px -10px;
     padding-left: 20px;
     grid-gap: 3px;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-areas: 
     "color area1 . trash"
     "area2 area3 area4 .";
 }
 .naves button, .naves input {
     float: right;
     font-weight: bold;
     padding: 0;
     cursor: pointer;
     box-shadow: 1px 1px 2px black;
     height: 100%;
 }
 .naves button:hover {
     /* border: blue; */
     /* background-color: white; */
     box-shadow: 0px 0px 2px white, 1px 1px 2px black;
 }
 .naves span button {
     font-weight: bold;
 }
 /* .naves input {
     height: 100%;
     cursor: pointer;
     box-shadow: 1px 1px 2px black;
 } */
 .naves input:hover {
    box-shadow: 0px 0px 2px white, 1px 1px 2px black;
 }
#createShip {
    width: 80%;
    margin: 5px auto;
    display: block;
    font-weight: bold;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}
#createShip:hover:enabled {
    box-shadow: 0px 0px 2px white, 1px 1px 2px black;
}
.pause {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  } 
.modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
}
.modal-content {
    position: relative; 
    border-radius: 1rem;
    padding: 20px; 
    margin: auto; 
    width: 20vw;  
    font-size: 200%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}  
.close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
    cursor: pointer;
}
.close-btn:hover {
    color: darkgray;
}
.confirmDelete {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
}
  .deleteContent {
    position: relative; 
    border-radius: 1rem;
    padding: 20px; 
    margin: auto; 
    width: 20vw;  
    font-size: 200%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.deleteContent div {
    text-align: center;
}
.buttonConfirm {
    border-radius: 1rem;
    background: cornsilk;
    padding: 1rem 1rem;
    width: 25%;
    margin: 0 1rem;
    box-shadow: .3rem .3rem .4rem black;
    cursor: pointer;
    display: inline-block;
}
#no:hover {
    background: greenyellow;
}
#yes:hover {
    background: orangered;
}
.language {
    float: left;
    display: none;
    margin: 10px; 
    /* transition: all .5s ease-in-out; */
    box-shadow: 1px 1px 2px black;
}
.language:hover {
    box-shadow: 0px 0px 2px white, 1px 1px 2px black;
}
.helpIcon {
    float: left;
    display: none;
    margin: 10px auto;
    /* font-size: 200%; */
    font-weight: bold;
    width: auto;
    height: 100%;
    /* transition: all .5s ease-in-out; */
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
}
.helpIcon:hover {
    box-shadow: 0px 0px 2px white, 1px 1px 2px black;
}
.show {
    display: block;
}
.helpModal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
}
  .helpContent {
    position: relative; 
    border-radius: 1rem;
    padding: 20px; 
    margin: auto; 
    width: 40vw;  
    font-size: 140%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background: indigo;
    color: lightblue;
}
.close-btn-help {
    float: right; 
    color: gray; 
    font-size: 24px;  
    font-weight: bold;
    cursor: pointer;
}
.close-btn-help:hover {
    color: darkgray;
}
#shipHelpCanvas {
    float: left;
    
} 
#controlHelp {
    float: left;
    display: grid;
    margin: 10px 20px 0px 0px;
    /* padding-left: 20px; */
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "color area1 . trash"
    "area2 area3 area4 .";   
    width: auto;
}
.helpContent li {
    clear: both;
    margin-bottom: 20px;
}
#controlHelp button , #controlHelp input {
    /* float: right; */
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
    height: 100%;
    /* width: auto; */
    /* pointer-events: none; */
    cursor: default;
}
/* #controlHelp input {
    height: 100%;
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
    pointer-events: none;
    cursor: default;
} */
