html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('backgrounds/fondo-de-cielo.jpg');
    /* background-image: url('cielo.png'); */
    /* background-image: url('hubble.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-size: cover;
}
.lienzo {
    position: absolute;
}
.score {
    display: inline-block;
    position: relative;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    padding-left: 30px;
    opacity: .3;
    transition: all .7s ease-in-out;
}
.zoom {
    scale: 1.2;
    opacity: .8;
    text-shadow: 1px 1px 18px white, 1px -1px 18px white, 
                -1px 1px 18px white,-1px -1px 18px white;
}
.triple {
    float: right;
    font-size: 60px;
    padding: 0 8px;
    margin-top: -5px;
 }
 .configuration {
     float: right;
     opacity: .4;
     background: silver;
     max-width: 60px;
     max-height: 60px;
     transition: all .5s ease-in-out;
     overflow: hidden;
 }
 .configurationHover {
     max-width: 50vw;
     max-height: 100vh;
     opacity: .9;
     overflow-y: auto;
     height: auto;
     width: auto;
 }
 .naves {
     clear: both;
     /* max-height: 0; */
 }
 .naves div {
     /* width: 100%; */
     margin-bottom: 15px;
     /* margin-top: 0px; */
     /* height: 30px; */
     /* font-size: 200%; */
     font-weight: bold;
     clear: both;
 }
 .naves canvas {
     rotate: 0deg;
     /* vertical-align: middle; */
     float: left;
     /* margin: 15px; */
 }
 .naves span {
     display: grid;
     /* float: inline-end; */
     margin: 0px 20px 20px -10px;
     padding-left: 20px;
     grid-template-areas: 
     "color area1 . trash"
     "area2 area3 area4 .";
     /* clear: both; */
 }
 .naves button {
     float: right;
     font-weight: bold;
     /* font-size: 30px; */
     padding: 0;
 }
 .naves span button {
     font-weight: bold;
 }
 .naves input {
     height: 100%;
 }
 /* .naves div div button {
     font-size: 30px;
     color: greenyellow;
     margin: 10px 10px 0 10px;
     clear: both;
 } */
#createShip {
    width: 80%;
    margin: 5px auto;
    display: block;
    font-weight: bold;
}
.pause {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  } 
.modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    /* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5); */
  }
.modal-content {
    position: relative; 
    border-radius: 1rem;
    padding: 20px; 
    margin: auto; 
    width: 20vw;  
    font-size: 200%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}  
.close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
    cursor: pointer;
}
.close-btn:hover {
    color: darkgray;
}
.confirmDelete {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    /* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5); */
  }
  .deleteContent {
    position: relative; 
    border-radius: 1rem;
    padding: 20px; 
    margin: auto; 
    width: 20vw;  
    font-size: 200%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.deleteContent div {
    text-align: center;
    /* background: cyan; */
}
.buttonConfirm {
    border-radius: 1rem;
    background: cornsilk;
    padding: 1rem 1rem;
    width: 25%;
    margin: 0 1rem;
    box-shadow: .3rem .3rem .4rem black;
    cursor: pointer;
    display: inline-block;
}
#no:hover {
    background: greenyellow;
}
#yes:hover {
    background: orangered;
}
